/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Raleway', sans-serif;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


.prlx1 {
    background-image: url('bg3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.undangan {
    text-align: center;
    font-size: 1.3rem;
    padding-top: 150px;
}

.pengantin {
    font-family: 'Rouge Script', cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 5rem;
    color: #fff;
}

.tanggal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.col-tanggal {
    font-size: 2rem;
    text-align: center;
}

small {
    font-size: 1.2rem;
}

.tanggal .garis {
    border-left: 2px solid #fff;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.tanggal .fw {
    width: 110px;
    height: 150px;
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
}

.nav {
    display: flex;
    background-color: rgba(105, 191, 100, 0.808);
    justify-content: space-around;
    color: rgb(255, 255, 255);
    height: 70px;
    align-items: center;

}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60%;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav ul li a:hover {
    color: rgb(207, 168, 145);
}

.s2 {
    background-color: rgb(92, 78, 76);
    padding: 50px 0;
}

.wrapbismillah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bismillah {
    max-width: 300px;
    margin: 50px 0 50px 0;
}

.pengantar {
    text-align: center;
    margin-bottom: 50px;
}

.pengantar p {
    margin-top: 20px;
    font-size: 1.3rem;
}

.mudamala {
    text-align: center;
    margin: 50px 0;
}

.mudamala p {
    font-family: 'Rouge Script', cursive;
    font-size: 3.2rem;
    text-align: center;
    margin: 30px 0;
}

#sectionWaktu {
    background-color: rgba(105, 191, 100, 0.808);
    margin: auto;
    padding: 50px 0;
}

#sectionWaktu p {
    font-size: 2rem;
    text-align: center;
    margin: 30px 0;
}

.kartu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 100px;
}

.tombol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnmd {
    text-decoration: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-top: 30px;
}

.btnmd:hover {
    background-color: rgb(207, 168, 145);
}

#sectionLokasi {
    background-color: rgba(207, 168, 145, .6);
    margin: auto;
    padding: 50px 0;
}

#sectionLokasi .judul {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#sectionLokasi .gmaps {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tentangmm {
    background-color: rgba(105, 191, 100, 0.808);
    background-image: url('bg3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 50px 0;
}

#tentangmm .tentang{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#ucapan {
    background-color: rgba(207, 168, 145, .6);
    margin: auto;
    padding: 50px 0;
}

#ucapan .komentar {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px
}

.formulir {
    text-align: center;
}

.lnama {
    margin: 30px 0 3px 0;
    font-size: 1.5rem;
}

.fnama input{
    display: inline-block;
    margin: 0 0 15px 0;
    font-size: 1.5rem;
    padding: 0 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: left;
    width: 350px;
    height: 40px;
}

.fnama input[type="text"]:focus {
    outline: none;
}

.lucapan {
    margin: 30px 0 3px 0;
    font-size: 1.5rem;
}

.fucapan textarea {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 8px;
    outline: none;
    border: none;
    width: 350px;
    resize: none;
    margin-bottom: 50px;
}

#footer {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

#footer .copyright {
    text-align: center;
    font-size: 1rem;
}


/* Tampilan Responsive */
@media screen and (max-width: 576px) {

    .undangan {
        text-align: right;
        padding-top: 40vh;
        padding-right: 20px;
        font-size: 1.5rem;
    }
    
    .pengantin {
        font-family: 'Rouge Script', cursive;
        text-align: right;
        font-size: 4rem;
        padding-right: 20px;
        margin-top: 30px;
        color: #fff;
    }
    
    .tanggal {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-top: 30px;
        margin-right: 20px;
    }

    .col-tanggal {
        font-size: 1rem;
        text-align: center;
    }

    small {
        font-size: .8rem;
    }
    
    .tanggal .garis {
        border-left: 2px solid #fff;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .tanggal .fw {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 140px;
        position: absolute;
        bottom: -65px;
        right: 150px;
        transform: rotate(-45deg);
    }

    .nav {
        display: none;
    }
}